.speech{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size: 20px;
}

.direction{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black; 
    font-size:16px;
    background-color: blanchedalmond;
}
.direction:hover{
    color:aqua;
    background-color:#000099;
}
.MRS_X{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 16px;
}
.MISS_Y{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
    font-size: 16px;
}

table{
    border:2px solid black;
    border-collapse:collapse ;
    padding: 3px 3px 3px 3px;
    text-align: center;
    margin-top :5%;
    margin-bottom: 5%;
    width:50%;
    
}
th{
    background-color: rgb(52, 83, 237);
    padding:10px;
    border:2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    padding:5px;
    border:2px solid black;
}

tr:nth-child(even){
    background-color:aquamarine ;
    padding:8px;
    border: 1px solid black;
}
tr:nth-child(odd){
    background-color:rgb(205, 15, 104) ;
    padding:8px;
    border: 2px solid black;
}

.MRS_X:hover{
    text-shadow:0px 8px 3px rgb(194, 114, 28);
    
}
.MISS_Y:hover{
    text-shadow:0px 8px 3px blueviolet;

}

a {
    display: block;
    padding: 6px;
    background-color: #dddddd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    display:inline;
    float:left;
    
  }
  
  li a {
    display: inline-block;
    color: rgb(62, 177, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: white;
    justify-content: center;
  }
  
  li a:hover {
    background-color: #d26b17;
    color:white;
  }

  .active {
    background-color:rgb(9, 63, 171);
    color:white;
  }

.material-symbols-outlined {
    height:8px;
    width:auto;
    box-align:center;
    
}

.inactive{
    color:grey;
   
}

.inactive:hover{
    background-color: grey;
}





