.speech{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 20px;
}

.direction{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size:16px;
    background-color: blanchedalmond;
}
.direction:hover{
    color:aqua;
    background-color:#000099;
}
.MRS_X{
    color: blue;
    font-size: 16px;
}
.MISS_Y{
    color:red;
    font-size: 16px;
}

table{
    border:2px solid black;
    border-collapse:collapse ;
    padding: 3px 3px 3px 3px;
    text-align: center;
    margin-top :5%;
    margin-bottom: 5%;
    width:100%;
}
th{
    background-color: rgb(52, 83, 237);
    padding:10px;
    border:2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    padding:5px;
    border:2px solid black;
}

tr:nth-child(even){
    background-color:aquamarine ;
    padding:8px;
    border: 1px solid black;
}
tr:nth-child(odd){
    background-color:rgb(205, 15, 104) ;
    padding:8px;
    border: 2px solid black;
}

.MRS_X:hover{
    text-shadow:0px 8px 3px rgb(194, 114, 28);
}
.MISS_Y:hover{
    text-shadow:0px 8px 3px blueviolet;

}






